* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Fonte */
  --font-family: "Poppins", serif;
  --text-lg: bold 32px/125% var(--font-family);
  --text: 16px/150% var(--font-family);
  --text-md: 14px/170% var(--font-family);
  --text-sm: 12px/170% var(--font-family);

  /* Product */
  --brand-color: #ef5f4c;

  /* Shape */
  --background-color: #ffffff;
  --surface-color: #f5f5f5;
  --skeleton-color: #d9d9d9;
  --shape-transparency: #ffffff91;

  /* Text */
  --text-color-primary: #313131;
  --text-color-secondary: #6c6c6c;
}

body {
  color: var(--text-color-secondary);
  background-color: var(--background-color);

}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color);
  text-decoration: underline;
}

.container {
  padding-inline: 2rem;
  max-width: 1280px;
  margin-inline: auto;
}

.bg-surface-color {
  background-color: var(--surface-color);
}

@media (max-width: 768px) {
  .container {
    padding-inline: 1rem;
    max-width: 768px;
  }
}
