header {
  padding-block: 2rem;

  font: var(--text-md);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile {
  display: flex;
  gap: 2rem;
}

#profile > div {
  max-width: 384px;
}

#profile img {
  width: 176px;
  height: 176px;
  object-fit: cover;
  border-radius: 50%;
}

#profile h1 {
  font: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: 0.5rem;
}

#info {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 17.5rem;
}

#info li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  header .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 2rem;
  }
  #profile {
    flex-direction: column;
  }

  #profile img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
  }

  header .container h1 {
    font-size: 22rem;
  }

  header ul {
    margin-top: 2rem;
  }
}
