nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: var(--text);

  line-height: 0;
  padding-block: 1.25rem;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;

  padding-block: 8px;
}

nav ul li:last-child img {
  width: 2.5rem;
  height: 2.5rem;
}

@media (max-width: 768px) {
  nav ul li:nth-child(2) {
    display: none;
  }

  nav ul li:nth-child(3) {
    display: none;
  }
}

